*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

img{
    max-width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    max-width: 75vw;
    margin: 3.4% auto 3.1% auto;
    text-align: center;
}

.logo{
    height: 4.5%;
    width: 4.5%;
}

.btn{
    text-align: center;
    background-color: #E8EFF2;
    color: #162542;
    border-radius: 8px;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    padding: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.pre-order-ash:hover{
    background-color: #162441;
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    max-width: 75vw;
    justify-content: space-between;
}

.description{
    max-width: 45%;
    margin: auto 50px auto 0;
}

.title-text h1{
    font-size: 60px;
    font-weight: 900;
    color: #162441;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 50px;
}

.detail-text{
    font-weight: 300;
    color: #7b8bad;
    margin: 0 0 70px 0;
    font-size: 20px;
}
.bottom{
    display: flex;
}

.pre-order-orange{
    background-color: #F16718;
    color: white;
    margin-right: 60px;
}

.pre-order-orange:hover{
    background-color: #FF9B62;
}

.release-text{
    font-size: 17px;
    font-weight: 500;
    color: #7b8bad;
    margin: auto 0;
    text-transform: uppercase;
}

.desc-img{
    background-image: url(../assets/desktop/image-keyboard.jpg);
    width: 540px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 50px;
}

.desc-img::after{
    content: " ";
    position: absolute;
    background-image: url(../assets/shared/pattern-square.svg);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    right: -5px;
}

.mech{
    justify-content: normal ;
    margin-bottom: 150px;
}

.keyboard-images{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}

.keyboard-left::before{
    content: " ";
    position: absolute;
    background-image: url(../assets/shared/pattern-square.svg);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    left: -5px;
    margin-top: 330px;
}

.keyboard-left{
    background-image: url(../assets/desktop/image-phone-and-keyboard.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #F16718;
    width: 255px;
    height: 480px;
    border-radius: 15px;
}

.keyboard-right{
    background-image: url(../assets/desktop/image-glass-and-keyboard.jpg);
    width: 444px;
    height: 480px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 120px 0 40px;
}
.mech-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto 0;
   
}
.mech-text h1{
    font-size: 30px;
    width: 30px;
    font-weight: 800;
    color: #162441;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 50px;
}

.mech-text p{
    width: 300px;
    font-weight: 300;
    color: #7b8bad;
    font-size: 20px;
}

.feat{
    margin-bottom: 50px;
}

.features{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.img_container{
    background-color: #F16718;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    margin-bottom: 30px;
}

.feat_imgs{
    margin: auto auto;
}

.container_title{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #162542;
    margin-bottom: 30px;
    width: 180px;
}

.feature_text, .footer{
    font-weight: 400;
    color: #7b8bad;
}

.footer{
    text-align: center;
    margin-bottom: 50px;
}



@media only screen and (max-device-width: 1220px)
{

    .header{
        min-width: 90%;
        margin: 50px 50px;
    }

    .container{
        min-width:  100%;
        margin: 50px 50px;
    }

    .desc-img::after{
        content: none;
    }

    .keyboard-left::before{
        content: none;
    }

    .keyboard-images{
        min-width: 90%;
        margin-bottom: 50px;
    }

    .keyboard-left{
        width: 40%;
    }
    .keyboard-right{
        width: 60%;
        margin-left: 50px;
        margin-right: 0px;
    }

    .mech{
        display: flex;
        flex-direction: column;
    }

    .mech-text{
        flex-direction: row;
    }

    .mech-text h1{
        font-size: 40px;
        width: 30%;
        margin-right: 120px;
    }

    .mech-text p{
        /* font-size: 40px; */
        width: 40%;
    }
}

@media only screen and (max-device-width: 1000px)
{
    .feat{
        flex-wrap: wrap;
        min-width: 80%;
    }
    .features{
        margin-right: 100px;
        margin-bottom: 50px;
    }

    .keyboard-right{
        margin-left: 20px;
    }

}

@media only screen and (max-device-width: 875px)
{
    .features{
        margin-right: 0;
    }
}

@media only screen and (max-device-width: 768px){
    
}


